/* Contenedor de las tarjetas */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.1em;
  width: 100%;
  box-sizing: border-box;
  perspective: 1000px; /* Define la distancia desde el espectador para el efecto 3D */
}

/* Estilo de la tarjeta */
.card {
  background-color: #062226;
  background-image: linear-gradient(160deg, #062226 0%, #031012 100%);
  color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  height: 100%;
  transform-style: preserve-3d; /* Permite el giro 3D */
  transition:
    transform 0.3s ease,
    scale 0.2s ease; /* Suaviza el movimiento */
  position: relative;
}

/* Efecto de movimiento sutil al pasar el ratón */
.card:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
}

/* Si la tarjeta está volteada, aplicamos la rotación */
.card.flipped {
  transform: rotateY(
    180deg
  ); /* Rota la tarjeta en el eje Y cuando se ha clicado */
}

/* Contenido frontal */
.card__front {
  position: relative;
  backface-visibility: hidden; /* Asegura que el frente se oculte cuando se voltea */
  height: 100%;
}

/* Contenido trasero */
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #062226;
  background-image: linear-gradient(160deg, #062226 0%, #031012 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg); /* Inicialmente el reverso está invertido */
  padding: 1em;
  backface-visibility: hidden; /* Asegura que el reverso no se muestre mientras gira */
  visibility: hidden; /* Lo ocultamos por defecto */
  transition:
    visibility 0.3s,
    transform 0.3s;
}

/* Cuando la tarjeta esté volteada, el reverso será visible y en su posición correcta */
.card.flipped .card__back {
  visibility: visible; /* Hace que el reverso sea visible cuando la tarjeta está volteada */
  transform: rotateY(0deg);
  transform: scaleX(
    -1
  ); /* Hace que el reverso vuelva a su posición correcta, sin el efecto espejo */
}

.card.flipped .card__name {
    display: none;
  }

/* Estilo de la imagen */
.card__image {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
}

.card__image-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Nombre del residente (frontal) */
.card__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Centra el nombre horizontalmente */
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
  padding: 0.5em;
  margin: 0;
  z-index: 2; /* Asegura que el nombre se muestre encima de la imagen */
  background: none; /* No fondo */
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
}

/* Estatus en la parte frontal */
.card__status {
  position: absolute;
  top: 1.5em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  border-radius: 0 2px 2px 0;
  left: 0;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.6));
  font-weight: 700;
}

.card__status.alive {
  text-transform: capitalize;
  color: white;
  background-color: green;
}

.card__status.dead {
  text-transform: capitalize;
  color: white;
  background-color: red;
}

.card__status.unknown {
  text-transform: capitalize;
  color: white;
  background-color: gray;
}

/* Información adicional (trasera) */
.card__back .card__info {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: .5em; /* Aumentamos el espacio entre los elementos */
    font-size: 1.3rem; /* Aumentamos el tamaño de la fuente */
    line-height: 1.2;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Aumentamos el espacio entre líneas */
}

.card__back .card__info-item {
    font-weight: 700; /* Hacemos que el texto sea más negrita */
    font-size: 1.2em; /* Aumentamos el tamaño de la fuente de los elementos */
}

.card__back .card__info-label {
  color: #ffffff90;
  display: block;
  font-weight: 400;
  font-size: .8em; /* Aumentamos el tamaño de las etiquetas */
}
